<!--♕-->
{% extends "app/layout.html" %}

{% block content %}

 <h1 class="text-center"> <img src="../../static/logotip/L17.png" width="470" height="70" class="text-center"  alt="Alternate Text" /></h1><br />

<table class="table table-striped table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Размер</th>
      <th>Скачать</th>
    </tr>
  </thead>
  <tbody>
    <tr style="color:black" >
      <th scope="row">1</th>
      <td>Контрольная по ООП</td>
      <td>59КБ</td>
       <td class="text-center"><a href="../../static/kontrolnay/Kontrolnay po OOP.docx" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Контрольная по ТОИ</td>
      <td>55КБ</td>
     <td class="text-center"><a href="../../static/kontrolnay/Kontrolnay po TOI.docx" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr style="color:black">
      <th scope="row">3</th>
      <td>Контрольная работа Основы моделирования</td>
      <td>69КБ</td>
       <td class="text-center"><a href="../../static/kontrolnay/Kontrolnay rabota osnovi modelirovaniy.docx" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td>Контрольная работа по английскому №4</td>
      <td>64КБ</td>
      <td class="text-center"><a href="../../static/kontrolnay/Kontrolnay rabota po Anglish № 4.doc" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr style="color:black">
      <th scope="row">5</th>
      <td>Кoнтрольная работа по ТИПИС</td>
      <td>70КБ</td>
       <td class="text-center"><a href="../../static/kontrolnay/Kontrolnay teoria P.S.docx" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
          <tr>
      <th scope="row">6</th>
      <td>Контрольная работа по Выч.мат</td>
      <td>826КБ</td>
      <td class="text-center"><a href="../../static/kontrolnay/Kontrolnay rabota vich.math.docx" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr style="color:black">
      <th scope="row">7</th>
      <td>Правоведение темы контрольных  работ и вопросы к зачёту ЗФО</td>
      <td>43КБ</td>
     <td class="text-center"><a href="../../static/kontrolnay/Pravovedenie temi kontrolnich.doc" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td>Схема оценки корреляционной связи по коэффициенту корреляции</td>
      <td>77КБ</td>
       <td class="text-center"><a href="../../static/kontrolnay/Schema ozenki korrelacionnih svazey.docx" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    
    
  </tbody>
</table>
{% endblock %}
