<!--♕-->
{% extends "app/layout.html" %}

{% block content %}

 <h1 class="text-center"> <img src="../../static/logotip/L18.png" width="470" height="70" class="text-center"  alt="Alternate Text" /></h1><br />

<table class="table table-striped table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Размер</th>
      <th>Скачать</th>
    </tr>
  </thead>
  <tbody>
    <tr style="color:black" >
      <th scope="row">1</th>
      <td>Инфокоммуникационные системы</td>
      <td>10М</td>
       <td class="text-center"><a href="../../static/biblioteka/Infokamunicationnie seti.7z" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ИС_Т методическое пособие для заочников</td>
      <td>568КБ</td>
     <td class="text-center"><a href="../../static/biblioteka/IS_i_T_Uchebno-metodicheskoe_posobie_dlya_zaochnikov.pdf" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr style="color:black">
      <th scope="row">3</th>
      <td>Веб-программирование на языке Python</td>
      <td>1M</td>
       <td class="text-center"><a href="../../static/biblioteka/Veb-programmirovanie_na_yazyke_Python_uch-metod-posobie_220.pdf" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td>Администрирование сетей</td>
      <td>4М</td>
      <td class="text-center"><a href="../../static/biblioteka/administrirovanie setey.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr style="color:black">
      <th scope="row">5</th>
      <td>Веб-программирование</td>
      <td>1М</td>
       <td class="text-center"><a href="../../static/biblioteka/veb-programmirovanie2.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
          <tr>
      <th scope="row">6</th>
      <td>Веб-программирование методичка</td>
      <td>525КБ</td>
      <td class="text-center"><a href="../../static/biblioteka/veb-programinirovanie uchebnoe posobie.pdf" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr style="color:black">
      <th scope="row">7</th>
      <td>ВКР бакалавра</td>
      <td>862КБ</td>
     <td class="text-center"><a href="../../static/biblioteka/VKR bakalavr.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td>Вычислительная математика</td>
      <td>1М</td>
       <td class="text-center"><a href="../../static/biblioteka/vichislitelnay matematica.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr style="color:black">
      <th scope="row">9</th>
      <td>Дискретная математика</td>
      <td>2М</td>
     <td class="text-center"><a href="../../static/biblioteka/discretnay matematica.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">10</th>
      <td>Защита информации</td>
      <td>100М</td>
       <td class="text-center"><a href="../../static/biblioteka/zachita informazii.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">11</th>
      <td>Инженерная и компьюторная графика</td>
      <td>25М</td>
     <td class="text-center"><a href="../../static/biblioteka/inzenernay i computernay grafics.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">12</th>
      <td>Инфокоммуникационные системы и сети</td>
      <td>600КБ</td>
       <td class="text-center"><a href="../../static/biblioteka/infocamunicazionnie seti i system.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">13</th>
      <td>Информационные технологии</td>
      <td>4М</td>
     <td class="text-center"><a href="../../static/biblioteka/informacionnie tehnologii.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">14</th>
      <td>Исследование операций</td>
      <td>1М</td>
       <td class="text-center"><a href="../../static/biblioteka/issledovanie operaciy.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">15</th>
      <td>Конструкторско-технологическое обеспечение производства ЭВМ</td>
      <td>591КБ</td>
     <td class="text-center"><a href="../../static/biblioteka/constructorno-technologichescoe.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">16</th>
      <td>Моделирование (Основы моделирования)</td>
      <td>3M</td>
       <td class="text-center"><a href="../../static/biblioteka/Modelirovanie.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">17</th>
      <td>Объектно-ориентированное программирование</td>
      <td>536КБ</td>
     <td class="text-center"><a href="../../static/biblioteka/Obectno-orientirovanoe programirovanie.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">18</th>
      <td>Инфокоммуникационные системы</td>
      <td>10M</td>
       <td class="text-center"><a href="../../static/biblioteka/Infokamunicationnie seti.7z" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">19</th>
      <td>Операционные системы (Инструментальные средства информационных систем)</td>
      <td>134КБ</td>
     <td class="text-center"><a href="../../static/biblioteka/Operacionnie system.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">20</th>
      <td>Организация ЭВМ и систем (Архитектура ЭВМ и систем)</td>
      <td>4M</td>
       <td class="text-center"><a href="../../static/biblioteka/Organizacia EVM.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">21</th>
      <td>Основы теории управления</td>
      <td>6M</td>
     <td class="text-center"><a href="../../static/biblioteka/Osnovi teorii upravlenia.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">22</th>
      <td></td>
      <td>КБ</td>
       <td class="text-center"><a href="../../static/biblioteka/Infokamunicationnie seti.7z" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">23</th>
      <td>Программирование</td>
      <td>2M</td>
     <td class="text-center"><a href="../../static/biblioteka/Programmirovanie.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">24</th>
      <td>Теория информационных процессов и систем</td>
      <td>79M</td>
       <td class="text-center"><a href="../../static/biblioteka/teoria infocionnih processov i system.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">25</th>
      <td>Теория кодирования</td>
      <td>3M</td>
     <td class="text-center"><a href="../../static/biblioteka/teoria kodirovania.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">26</th>
      <td>Технологии обработки информации</td>
      <td>4M</td>
       <td class="text-center"><a href="../../static/biblioteka/technologia obrabotki informacii.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">27</th>
      <td>Технологии программирования</td>
      <td>3M</td>
     <td class="text-center"><a href="../../static/biblioteka/technologia programmirovanioa.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">28</th>
      <td></td>
      <td>КБ</td>
       <td class="text-center"><a href="../../static/biblioteka/Infokamunicationnie seti.7z" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">29</th>
      <td>Титульный лист</td>
      <td>26КБ</td>
     <td class="text-center"><a href="../../static/biblioteka/titulniy list.doc" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr>
      <th scope="row">30</th>
      <td>Управление данными</td>
      <td>122КБ</td>
       <td class="text-center"><a href="../../static/biblioteka/Upravlenie dannie.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
        <tr style="color:black">
      <th scope="row">31</th>
      <td>ЭВМ и периферийные устройства (Протоколы и интерфейсы информационных сетей)</td>
      <td>602КБ</td>
     <td class="text-center"><a href="../../static/biblioteka/EVM pereferiynie ustroystva.rar" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
       
    
  </tbody>
</table>
{% endblock %}
