<!--♕-->
{% extends "app/layout.html" %}

{% block content %}
    {% load staticfiles %}
<h1 class="text-center"> <img src="../../static/logotip/L11.png" width="450" height="60" class="text-center"  alt="Alternate Text" /></h1>
<h1 > <img src="../../static/app/content/may.jpg" width="270" height="260"   alt="Alternate Text" /></h1><br />
<h3>{{ message }}</h3>

<address>
   
   <br />
    <abbr title="Phone">Phone:</abbr>
    +7(953)2372699
</address>

<address>
    <strong>Email:</strong><a href="mailto:Support@example.com">kovalevskiy2017@outlook.com</a><br />
   
</address>

{% endblock %}
