<!--♕-->
{% extends "app/layout.html" %}

{% block content %}

 <h1 class="text-center"> <img src="../../static/logotip/L19.png" width="470" height="70" class="text-center"  alt="Alternate Text" /></h1><br />

<table class="table table-striped table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Размер</th>
      <th>Скачать</th>
    </tr>
  </thead>
  <tbody>
    <tr style="color:black" >
      <th scope="row">1</th>
      <td> Курсовик по Управлению Данных Вариант 1</td>
      <td>212КБ</td>
       <td class="text-center"><a href="../../static/cursach/KurR_BD_Piskunova.doc" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Курсовик по Управлению Данных Вариант 2</td>
      <td>85КБ</td>
     <td class="text-center"><a href="../../static/cursach/Kursovaya_rabota.docx" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr style="color:black">
      <th scope="row">3</th>
      <td>Отчет по курсовой работе</td>
      <td>13КБ</td>
       <td class="text-center"><a href="../../static/cursach/Otchyot_po_kursovoy_rabote.docx" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
       
    
  </tbody>
</table>
{% endblock %}
