<!--♕-->
{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

 <h1 class="text-center"> <img src="../../static/logotip/L16.png" width="470" height="70" class="text-center"  alt="Alternate Text" /></h1><br />

<table class="table table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Название </th>
      <th>Размер </th>
      <th>Скачать </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Задания по лабораторным ООП</td>
      <td>148КБ</td>
      <td class="text-center"><a href="../../static/labaratornie/laba.zip" style="color:white;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Лабораторные по ООП Microsoft Visual Studio</td>
      <td>3М</td>
      <td class="text-center"><a href="../../static/labaratornie/x-files.zip" style="color:white;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Лабораторные по компьютерной графике</td>
      <td>367КБ</td>
       <td class="text-center"><a href="../../static/labaratornie/Laba po komputernoy graghics.zip" style="color:white;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Отчёт по лабораторным по ООП 2 курс</td>
      <td>454КБ</td>
       <td class="text-center"><a href="../../static/labaratornie/Otchet po labam.docx" style="color:white;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
      <tr>
      <th scope="row">5</th>
      <td>Образцы лабораторных работ по Mathcad</td>
      <td>80КБ</td>
       <td class="text-center"><a href="../../static/labaratornie/Obrazci labaratornih rabot MathCad.zip" style="color:white;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
      <tr>
      <th scope="row">6</th>
      <td>Лабораторные по Технологии обработки информации</td>
      <td>45КБ</td>
      <td class="text-center"><a href="../../static/labaratornie/Ministrstvo obrazovania.docx" style="color:white;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
      <tr>
      <th scope="row">7</th>
      <td>Лабораторные по Deductor</td>
      <td>8M</td>
       <td class="text-center"><a href="../../static/labaratornie/Deductor.zip" style="color:white;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
       <tr>
      <th scope="row">8</th>
      <td>Готовые лабы по ООП</td>
      <td>261КБ</td>
       <td class="text-center"><a href="../../static/labaratornie/Gotovye_laby_po_OOP.docx" style="color:white;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
      <tr>
      <th scope="row">9</th>
      <td>Лабораторная по Visual Prolog</td>
      <td>4КБ</td>
       <td class="text-center"><a href="../../static/labaratornie/Laba Prolog.rar" style="color:white;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
