<!--♕-->
{% extends "app/layout.html" %}

{% block content %}
<div class="container">    <h1 class="text-center"> <img src="../../static/logotip/L12.png" width="470" height="70" class="text-center"  alt="Alternate Text" /></h1><br />
<h2 class="text-center"> <img src="../../static/logotip/L13.png" width="470" height="60" class="text-center"  alt="Alternate Text" /></h2><br />
        <video class="video-fluid-1 z-depth-1" loop controls muted>
          <source src="../../static/video/1/postgresql.mp4" type="video/mp4" />
          <source src="../../static/video/1/postgresql (convert-video-online.com).webm" type="video/webm; codecs="vp8, vorbis"" />
          <source src="../../static/video/1/postgresql.ogg" type="video/ogg; codecs="theora, vorbis"" />
        </video><br />
    <h2 class="text-center"> <img src="../../static/logotip/L14.png" width="470" height="70" class="text-center"  alt="Alternate Text" /></h2><br />
        <video class="video-fluid-1 z-depth-1" loop controls muted>
          <source src="../../static/video/2/postgresql1.mp4" type="video/mp4" />
          <source src="../../static/video/2/postgresql1.webm" type="video/webm; codecs="vp8, vorbis"" />
          <source src="../../static/video/2/postgresql1.ogg" type="video/ogg; codecs="theora, vorbis"" />
        </video><br />
     <h2 class="text-center"> <img src="../../static/logotip/L15.png" width="470" height="60" class="text-center"  alt="Alternate Text" /></h2><br />
        <video class="video-fluid-1 z-depth-1" loop controls muted>
          <source src="../../static/video/3/postgresql2.mp4" type="video/mp4" />
          <source src="../../static/video/3/postgresql2.webm" type="video/webm; codecs="vp8, vorbis"" />
          <source src="../../static/video/3/postgresql2.ogg" type="video/ogg; codecs="theora, vorbis"" />
        </video><br />


    <table class="table table-striped table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Размер</th>
      <th>Скачать</th>
    </tr>
  </thead>
  <tbody>
    <tr style="color:black" >
      <th scope="row">1</th>
      <td>pgadmin3-1.22.2</td>
      <td>13M</td>
       <td class="text-center"><a href="../../static/kontrolnay/pgadmin3-1.22.2.zip" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Книги самоучители по PostgreSQL</td>
      <td>8M</td>
     <td class="text-center"><a href="../../static/kontrolnay/Knigi samouchitel po PostgreSQL.zip" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
    <tr style="color:black">
      <th scope="row">3</th>
      <td>Наша база</td>
      <td>180М</td>
       <td class="text-center"><a href="../../static/kontrolnay/Nacha baza.zip" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
      <tr>
      <th scope="row">2</th>
      <td>SQL база</td>
      <td>3M</td>
     <td class="text-center"><a href="../../static/kontrolnay/Yazyk_SQL_Bazovy_kurs.pdf" style="color:black;"><i class="glyphicon glyphicon-floppy-disk"></i></a></td>
    </tr>
  </tbody>
</table>

</div>
{% endblock %}